@import '../../index.css';

.r-dropdown-wrapper {
  @apply relative w-full;
}

.r-dropdown-overlay {
  @apply fixed inset-0 z-[99];
}

.r-dropdown {
  @apply flex items-center bg-white border border-[var(--neutral-75)] rounded-md shadow-sm py-[7px] px-3 text-left cursor-pointer;

  &:hover:not(.r-dropdown--disabled):not(.r-dropdown--loading):not(.r-dropdown--active):not(.r-dropdown--error) {
    @apply bg-[var(--neutral-50)];

    .r-dropdown__input {
      @apply bg-[var(--neutral-50)];
    }
  }

  &--active {
    @apply border border-[var(--primary-500)] ring ring-[var(--primary-75)];
  }

  &--disabled {
    @apply bg-[var(--primary-50)] text-[var(--neutral-300)] border-[var(--primary-75)] cursor-not-allowed;
  }

  &--error {
    @apply border-[var(--error-500)] ring-[var(--error-100)];
  }

  &--loading {
    @apply bg-[var(--neutral-100)] text-[var(--neutral-300)] border-[var(--neutral-200)] cursor-not-allowed animate-pulse;
  }

  &__remaining-count-text {
    @apply text-sm text-gray-600;
  }

  &__prepend-icon {
    @apply inset-y-0 right-0 flex items-center pointer-events-none pr-2;

    &--active {
      /* @apply text-[var(--primary-500)]; */
    }

    &--error {
      @apply text-[var(--error-500)];
    }
  }


  &__selections {
    @apply flex items-center gap-0.5 flex-wrap w-full;

  }

  &__input {
    @apply flex-1 font-medium text-sm text-[var(--neutral-900)] caret-[var(--primary-500)] placeholder-[var(--neutral-500)] min-w-0 w-full;

    &--loading {
      @apply bg-[var(--neutral-100)] text-[var(--neutral-300)] border-[var(--neutral-200)] cursor-not-allowed animate-pulse;
    }

    &[readonly] {
      @apply cursor-pointer;
    }

    &:focus{
      @apply border-transparent ring-0 outline-none;
    }

    &:disabled{
      @apply bg-[var(--primary-50)] text-[var(--neutral-300)] placeholder:text-[var(--neutral-300)] cursor-not-allowed pointer-events-none;
    }
  }

  &__clearable {
    @apply min-h-[18px] text-[var(--neutral-500)] translate-x-4 opacity-0 pointer-events-none transition-all duration-200 ease-in-out group-hover:pointer-events-auto group-hover:translate-x-0 group-hover:opacity-100;

    &[data-has-value="true"] {
      @apply opacity-100 pointer-events-auto translate-x-0;
    }
  }

  &__append-icon {
    @apply inset-y-0 right-0 flex items-center pointer-events-none;

    &--active {
      @apply transform rotate-180 transition-all duration-200 ease-in-out text-[var(--primary-500)];
    }

    &--error {
      @apply text-[var(--error-500)];
    }
  }
}

.r-dropdown-options {
  @apply p-2 left-0 mt-1 bg-white rounded-md shadow-lg max-h-40 overflow-auto focus:outline-none;

  &__option {
    @apply text-[var(--neutral-900)] transition-all duration-200 
    flex justify-between items-center w-full border border-transparent 
    rounded-md px-3 py-2 text-left cursor-pointer min-h-[40px] mb-0.5
    font-medium text-sm;

    &:hover:not(.r-dropdown-options__option--active, .r-dropdown-options__option--disabled) {
      @apply bg-[var(--neutral-200)];
    }
    &--active {
      @apply bg-[var(--primary-100)] text-[var(--primary-500)];
    }

    &--disabled {
      @apply bg-[var(--primary-50)] text-[var(--neutral-300)] cursor-not-allowed hover:bg-[var(--primary-50)];
    }

    &--deselect {
      /* @apply cursor-not-allowed; */
    }

    &__label {
      /* @apply ml-2; */

      &--active {
        /* @apply text-[var(--primary-500)]; */
      }
    }

    &__prepend-icon {
      @apply text-[var(--neutral-900)] inset-y-0 right-0 flex items-center pointer-events-none mr-2;

      &--active {
        /* @apply text-[var(--primary-500)]; */
      }
    }

    &__append-icon {
      @apply transition-colors duration-100 ease-in-out;

      &--active {
        /* @apply text-[var(--primary-500)]; */
      }
    }
  }

  &__divider {
    @apply my-2 border-[var(--neutral-75)];
  }

  &__no-option {
    @apply text-[var(--neutral-500)] text-center py-2;
  }
}

.r-dropdown-error {
  @apply text-xs font-light text-[var(--error-500)];
}

.r-dropdown-hint {
  @apply text-[var(--neutral-500)] font-light text-xs tracking-wide;
}
.r-dropdown-details {
  @apply h-4 px-1 pt-1;
}
