@import '../../index.css';

.r-switch-container {
  @apply flex items-start justify-start gap-3;
}

.slider {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-[var(--neutral-300)] rounded-full;

  &::before {
    content: '';
    @apply absolute left-1 bottom-1 bg-white transition-all duration-200 ease-in-out rounded-full;
  }
}

.r-switch {
  @apply relative inline-block w-16 h-9 box-border;

  &--small {
    @apply w-9 h-5;

    & > .slider::before {
      @apply w-3 h-3;
    }
    & > .r-switch__input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
  &--medium {
    @apply w-11 h-6;
    & > .slider::before {
      @apply w-4 h-4;
    }
    & > .r-switch__input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
  &--large {
    @apply w-[3.25rem] h-7;

    & > .slider::before {
      @apply w-5 h-5;
    }
    & > .r-switch__input:checked + .slider:before {
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
    }
  }

  &--disabled {
    @apply cursor-not-allowed;
    & > .slider::before {
      @apply bg-[var(--neutral-200)];
    }
  }

  &--error {
    & > .r-switch__input:checked + .slider {
      @apply bg-[var(--error-500)];
      &:hover {
        @apply bg-[var(--error-700)];
      }
    }
  }

  &__input {
    @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md z-20 cursor-pointer;
    &:checked + .slider {
      @apply bg-[var(--primary-500)];
      &:hover {
        @apply bg-[var(--primary-700)];
      }
    }
  }
}

.r-switch-texts {
  &--small {
    @apply text-xs;
  }
  &--medium {
    @apply text-sm;
  }
  &--large {
    @apply text-base;
  }

  &__label {
    @apply font-medium text-[var(--neutral-900)] p-0 m-0;
  }
  &__hint {
    @apply text-xs text-[var(--neutral-500)] font-normal p-0 m-0;
  }
  &__error {
    @apply text-xs text-[var(--error-500)] font-normal p-0 m-0;
  }
  &__details {
    @apply h-4 px-1 pt-1;
  }
}
