@import '../../index.css';

.text-h1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.7rem;

  @media (max-width: 767px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.text-h2 {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.75rem;

  @media (max-width: 767px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.text-h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.875rem;

  @media (max-width: 767px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.text-h4 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.25rem;

  @media (max-width: 767px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.text-h5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.625rem;

  @media (max-width: 767px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.text-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;

  @media (max-width: 767px) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.text-sub-title-1 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;

  @media (max-width: 767px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.text-sub-title-2 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;

  @media (max-width: 767px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.text-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;

  @media (max-width: 767px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.text-body-1 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;

  @media (max-width: 767px) {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.text-body-2 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;

  @media (max-width: 767px) {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}

.text-caption {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.875rem;
}
