@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
:root {
  --primary-100: #edeffc;
  --primary-200: #e4e6fb;
  --primary-300: #a3abf0;
  --primary-400: #6f7de5;
  --primary-500: #4c5be1;
  --primary-600: #3a3f9e;
  --primary-700: #3944a9;
  --primary-800: #2e3a7e;
  --primary-900: #2e3787;
  --neutral-100: #f6f7f9;
  --neutral-200: #e7eaee;
  --neutral-300: #c3c9d5;
  --neutral-400: #acb4c3;
  --neutral-500: #818a9c;
  --neutral-600: #586174;
  --neutral-700: #3c4353;
  --neutral-800: #242a38;
  --neutral-900: #151b26;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-active: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --box-shadow-focus: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  --box-shadow-pressed: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-pressed-active: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  --box-shadow-pressed-focus: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  --box-shadow-pressed-hover: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
  --space-13: 3.25rem;
  --space-14: 3.5rem;
  --space-15: 3.75rem;
  --space-16: 4rem;
  --space-17: 4.25rem;
  --space-18: 4.5rem;
  --space-19: 4.75rem;
  --space-20: 5rem;
  --column-gap: 1rem;
  --row-gap: 1rem;
  --border-radius: 0.25rem;
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;
  --border-radius-5: 1.25rem;
  --border-radius-6: 99999px;
  --column-1: 1;
  --column-2: 2;
  --column-3: 3;
  --column-4: 4;
  --column-5: 5;
  --column-6: 6;
  --column-7: 7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
