@import '../../index.css';

.r-progressbar {
  @apply appearance-none border-none rounded-full overflow-hidden w-full;

  &[value]::-webkit-progress-value {
    background-color: var(--primary-500);
    transition: inline-size 0.25s ease-out;
  }

  &[value]::-moz-progress-bar {
    background-color: var(--primary-500);
    transition: inline-size 0.25s ease-out;
  }

  &[value]::-ms-fill {
    background-color: var(--primary-500);
    transition: inline-size 0.25s ease-out;
  }

  &[value]::-webkit-progress-bar {
    background-color: var(--primary-200);
  }
}
